.Home {
    position: absolute;
    background-image: url('../../../assets/professorHomeBackground.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    width: 100%;
    height: 500px;  
}

.HomeContent {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 20%;
    width: 100%;
    height: 300px;
}

.HomeContent h3 {
    font-size: 3rem;
    font-weight: 350;
    margin-bottom: 0px;
    font-style: italic;
}

.HomeContent p {
    font-size: 1.4rem;
    font-weight: 330;
    margin-top: 30px;
}

.Notifications {
    position: absolute;
    margin: 20px 0px;
    margin-top: 500px;
    display: flex;
    justify-content: center;
    width: 100%;
}