.HomeComponent {
    display: flex;
    justify-content: flex-start;
    width: 100%;  
    background: rgba(209, 240, 232);   
}

.Logo {
    margin: 10px 0px;
    padding: 0px 0px 0px 30px;
}

.HomeNavigations {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
}


.HomeNavigations a {
    padding: 10px;
    text-decoration: none;
}

.Navigations p {
    padding: 0px 10px;
    margin: 2px;
}

.Navigations p:hover {
    cursor: pointer;
}

.HomeNavigationContent {
    display: flex;
    justify-content: center;
    width: 100%;
}

.Home {
    font-size: 2.5rem;
    color: rgb(43, 43, 43);
    font-weight: 300;
}

.Body {
    font-size: .9rem;
    font-weight: 300;
    color:black;
}

.Input {
    width: 30%;
    margin: auto;
    padding: 0px 10px 0px 0px;
    border-bottom: 1px solid rgba(155, 153, 153, 0.795); 
    background: rgba(209, 240, 232);  
}

.Input input {
    width: 90%;
    border: none;
    font-size: 1.2rem;
    background: rgba(209, 240, 232);  
}

.Input input:focus {
    outline: none;
}