.StudentNavigations {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 20px 0px;
}

.StudentNavigations a {
    padding: 0px 10px;
    text-decoration: none;
    color: rgb(41, 39, 39);
}