.StudentsMain {     
    padding: 20px;
    width: 100%;
}

.Students {
    background: ghostwhite;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    justify-content: flex-start;
    width: 80%;
    margin: 30px auto;
}