.ProfessorNavigations {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 20px 0px;
}

.ProfessorNavigations a {
    padding: 0px 10px;
    text-decoration: none;
    color: rgb(41, 39, 39);
}

.ProfessorNavigations a:hover,
.ProfessorNavigations a:active {
    color: rgb(124, 104, 104);
    font-weight: 500;
}

