.Button {
    background-color: transparent;
    border: none;
    color: rgba(8, 7, 61, 0.801);
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

.Button:disabled {
    color: #ccc;
    cursor: not-allowed;
}