.Body {
    position: absolute;
    background-image: url('../../../assets/homeBackground.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    width: 100%;
    height: 577px;
}

.Login {
    position: relative;
    width: 400px;
    top: -25%;
    left: 65%;
    padding: 90px 10px;
    background: rgba(202, 202, 235, 0.644);
    color: rgba(75, 73, 73, 0.514);
    border-radius: 10px;
}

.Login p {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 350;
    color: rgb(26, 24, 24);
}

.ForgotPassword:hover {
    text-decoration: underline;
    color: rgb(16, 16, 128);
}

.Content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: ghostwhite;
    height: 224px;
    width: 700px;
    top: 27%;
    left: 10%;
}

.Content h3 {
    font-size: 2rem;
    font-weight: 350;
    font-style: italic;
}

.Content p {
    margin: 0px;
    padding: 5px 0px;
    font-weight: 300;
    color: rgb(211, 211, 228);
}

.Content2 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: ghostwhite;
    width: 70%;
    top: 15%;
    left: 15%;
}

.Content2 h3 {
    font-size: 2rem;
    font-weight: 350;
    font-style: italic;
}

.Content2 p {
    margin: 0px;
    padding: 5px 0px;
    font-weight: 300;
    text-align:justify;
    color: rgb(211, 211, 228);
}

.SignUp span {
    padding: 0px 5px;
}

.SignUp span:hover {
    text-decoration: underline;
    color: rgb(16, 16, 128);
}