.ProfessorLayoutNavigations {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
    position: fixed;
    top: 0;
    left: 0;
}

.ProfessorLayoutContent {
    margin-top: 80px;
}