.Courses {
    width: 80%;
    background: ghostwhite;
    border-radius: 10px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;
    padding: 20px 0px;
}

.Courses:hover {
    box-shadow: 10px 15px 30px gray;
}

.CourseBody {
    margin: 20px;
}