.Home {
    position: absolute;
    background-image: url('../../../assets/studentHomeBackground.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    width: 100%;
    height: 500px;  
}

.HomeContent {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    top: 20%;
    width: 100%;
    height: 300px;
}

.HomeContent h3 {
    font-size: 3rem;
    font-weight: 350;
    margin-bottom: 0px;
    font-style: italic;
}

.HomeContent p {
    font-size: 1.4rem;
    font-weight: 330;
    margin-top: 30px;
    margin-left: 80px;
}

.Notifications {
    position: absolute;
    margin: 20px 0px;
    margin-top: 500px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.Course {
    float: left;
    width: 30%;
    background: ghostwhite;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Course:hover {
    box-shadow: 10px 15px 30px gray;
}